<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location List</title>
</head>
<body>
    <h1>Location List</h1>
    <a th:href="@{/carmuseum}">Back to the car museum</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="location : ${locations}">
                <td th:text="${location.locationId}"></td>
                <td th:text="${location.locationName}"></td>
                
                <td><a th:href="@{/deletelocation/{id}(id=${location.locationId})}" class="btn btn-xs btn-danger">Delete</a></td>
            
            </tr>
        </tbody>
    </table>
    <a th:href="@{/addlocation}">Add locations</a>
</body>
</html>
